body, html{
	font-family: 'Open Sans';
	font-size: 16px;
	background: #F2F2F2;
}
a{
	color: inherit;
}
a:hover{
	text-decoration: underline;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.span-color-blue{
	color: #00A4E5;
}

[class*="__container"]{
	max-width: 971px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header{
	position: relative;
}
.ibg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ibg img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
@media (max-width: 767px){
	.ibg img{
		object-position: center;
	}
}


.header__background {
	min-height: 769px;
}

.background-header_content {
	min-height: 769px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	
}
.content-name-site {
	margin-top: 41px;
	font-size: 26px;
	font-family: 'Bebas Neue';
	letter-spacing: 0.5px;
	font-weight: 400;
}
.content-title {
	font-size: 60px;
 	line-height: 70px;
	font-family: 'Bebas Neue';
	letter-spacing: 5px;
	text-align: center;
}
.content-subtitle {
	font-size: 16px;
   line-height: 19px;
	text-align: center;
}
.content-lower-text {
	margin-bottom: 71px;
	font-size: 11px;
	line-height: 13px;
	font-weight: 300;
	letter-spacing: 3px;
}

.nav-header {
	min-height: 63px;
	border-bottom: 1px solid #E6E6E6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 57px;
	position: relative;
	z-index: 3;
}
.nav-header_logo-name {
	font-family: 'Bebas Neue';
	letter-spacing: 0.5px;
	font-weight: 400;
	font-size: 24px;
}
.menu-list_list {
	display: flex;
	width: 100%;
}
.list_item {
	font-size: 12px;
	font-weight: 600;
	margin-left: 40px;
	color: #48555B;
	transition: all ease 0.2s;
}
@media (max-width: 767px){
	.list_item{
		margin-left: 15px;
	}
	.nav-header{
		margin-bottom: 30px;
	}
	.menu-list{
		display: none;
	}

}
.list_item:hover{
	color: #00A4E5;
}

/* =============================================================================================================================== */

.our-story__container {
	display: flex;
	flex-direction: column;
}
.our-story_title {
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 2.30625px;
	color: #48555B;
	font-weight: 700;

	margin: 0 auto 80px;
}
@media (max-width: 767px){
	.our-story_title{
		margin: 0 auto 30px;
	}
}
.title_hover-underline{
	color: #00A4E5;
	height: 2px;
}
.our-story_content {
	display: flex;
	justify-content: space-between;
}


.content-story_text {
	display: flex;
	flex-direction: column;
	max-width: 406px;
}
.content-story_text-bold {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1875px;	
	font-weight: 700;
	color: #48555B;
	margin-bottom: 30px;
}
.content-story_text-normal {
	letter-spacing: 0.1875px;
	font-size: 13px;
	line-height: 23px;
	color: #48555B;

}
.content-story_cards {
	display: flex;
	margin-bottom: 100px;
}
@media (max-width: 850px){

}
@media (max-width: 767px){
	.our-story_content{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	.content-story_text-bold{
		margin-bottom: 10px;
		text-align: center;
	}
	.content-story_text-normal{
		margin-bottom: 10px;
		text-align: center;
	}
	.content-story_cards {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
}



.story-card_we-plan, .story-card_we-manage, .story-card_we-build {
	min-width: 130px;
	height: 230px;
	background: url('../img/we-plan-bg.jpg');
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	margin-left: 10px;
	font-weight: 700;
	padding: 10px;
	transition: all ease 0.2s;
}
@media (max-width: 460px){
	.content-story_cards{
		justify-content: center;
	}
	.content-story_cards div{
		min-width: 100%;
		background-size: cover;
	}
	.story-card_we-plan, .story-card_we-manage, .story-card_we-build{
		margin-bottom: 10px;
	}
}
.story-card_we-plan:hover, .story-card_we-manage:hover, .story-card_we-build:hover{
	transform: scale(1.07);
	box-shadow: 0 0 5px #000;
}
.story-card_we-manage {
	background: url('../img/we-manage-bg.jpg');
}
.story-card_we-build {
	background: url('../img/we-build-bg.jpg');
}

/* ================================================================================================================================================ */


.our-capabilities__container {
	display: flex;
	flex-direction: column;
}
.our-capabilities_upper-level {
	display: flex;
	justify-content: space-between;
}

.upper-level_title {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	letter-spacing: 2.30625px;
	color: #48555B;
}
.upper-level_parag {
	margin-bottom: 78px;
	max-width: 406px;
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.2px;
	color: #48555B;

}
.upper-level_button-all-services {
	width: 150px;
	height: 40px;
	background: #00A4E5;
	color: #fff;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: all ease 0.1s;
}
.upper-level_button-all-services:hover{
	background: #fff;	
	color: #00A4E5;
	box-shadow: 0 0 6px #000;
	font-weight: 700;
}
@media (max-width: 767px){
	.our-capabilities_upper-level{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.upper-level_title{
		margin-bottom: 10px;
	}
	.upper-level_parag{
		margin-bottom: 30px;
		text-align: center;
	}
	.upper-level_button-all-services{
		margin-bottom: 30px;
	}
}
.our-capabilities_lower-level {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.lower-level_card {
	width: 295px;
	min-height: 310px;
	border: 1px solid #E6E6E6;
	padding: 38px 23px;
	margin-bottom: 115px;
}

.card-lower_logo {
	margin-bottom: 25px;
}
.card-lower_title {
	font-size: 15.5px;
	line-height: 24px;
	letter-spacing: 0.426667px;	
	color: #48555B;
	font-weight: 700;
	margin-bottom: 13px;


}
.card-lower_text {
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.1875px;
	color: #48555B;

}
@media (max-width: 767px){
	.lower-level_card{
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.our-capabilities_lower-level{
		justify-content: center;
	}
}

/* =================================================================================== */

.want-to-build_bg-image{
	background: url('../img/want-to-build-bg.jpg');
	background-size: cover;
	height: 798px;
}
.want-to-build_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.want-to-build-title {
	font-size: 40px;
	line-height: 36px;
	letter-spacing: 0.15px;	
	color: #48555B;
	font-weight: 700;
	margin-top: 120px;	
	margin-bottom: 55px;
	width: 450px;	
	text-align: center;
}
.want-to-build-button {
	width: 150px;
	height: 40px;
	background: #00A4E5;
	color: #fff;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: all ease 0.1s;
}
.want-to-build-button:hover{
	background: #fff;	
	color: #00A4E5;
	box-shadow: 0 0 6px #000;
	font-weight: 700;

}
@media (max-width: 767px){
	.want-to-build_bg-image{
		max-height: 500px;
	}
	.want-to-build-title{
		margin-top: 60px;	
		margin-bottom: 32px;
	}
}
@media (max-width: 460px){
	.want-to-build-title{
		max-width: 280px;
	}
}

/* ============================================================================================================ */

.footer{
	position: relative;
	top: -2px;
}
.footer__sign-up{
	background: #171819;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.content-sign-up {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.content-sign-up_title {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.846154px;
	color: #FFFFFF;

}
.form_sign-up_input{
	display: flex;
	margin-left: 86px;
}

.sign-up_input {
	width: 250px;
	padding: 10px 16px;
}
.sign-up_button {
	width: 150px;
	height: 40px;
	background: #00A4E5;
	color: #fff;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: all ease 0.1s;
}
.sign-up_button:hover{
	background: #fff;	
	color: #00A4E5;
	box-shadow: 0 0 6px #000;
	font-weight: 700;

}
@media (max-width: 767px){
	.content-sign-up{
		display: flex;
		flex-direction: column;

	}
	.content-sign-up_title{
		margin-bottom: 10px;
	}
	.form_sign-up_input{
		margin-left: 0px;
	}
}
@media (max-width: 480px){
	.form_sign-up_input{
		flex-direction: column;
		align-items: center;
	}
	.sign-up_input, .sign-up_button{
		margin-bottom: 10px;
	}
}

/* =========================================================================================================================== */

.company-construct {
	background: #141A20;
	color: #fff;
}
.company-construct__container {
	padding-top: 40px;
	padding-bottom: 40px;
}
.company-construct__columns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.columns-construct__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 76px;
	height: 158px;
	margin-bottom: 10px;
	
}	
.column_mini-title {
	margin-bottom: 16px;
	font-size: 11px;
	line-height: 13px;	
}
.column_logo {
	margin-bottom: 16px;
}
.column_text {
	max-width: 250px;
	font-size: 11px;
	line-height: 19px;
}

.links_link {
	
	font-size: 11px;
	line-height: 25px;
	font-weight: 700;
}
.links_item:first-child {
	font-size: 11px;	
	line-height: 13px;
	font-weight: 400;
}

.faq_link {
	font-size: 11px;
	line-height: 25px;
	font-weight: 700;
}

.blog_link {
	font-size: 11px;
	line-height: 25px;
	font-weight: 700;
}

.contact-us_title {
	margin-bottom: 10px;
}
.contact-us_address {
	font-size: 11px;
	line-height: 16px;
	margin-bottom: 10px;
}
.contact-us_phone {
	font-size: 11px;
	line-height: 16px;
	margin-bottom: 10px;
}
.contact-us_mail {
	font-size: 11px;
	line-height: 16px;
}
.column_icons {
	display: flex;
	flex-direction: column;
}
.icons_link {
	margin-bottom: 15px;
}
@media (max-width: 767px){
	.company-construct__columns{
		justify-content: space-evenly;
	}
	.columns-construct__column{	
		margin-bottom: 20px;
		border-bottom: 1px solid #fff;
	}
}

/* =========================================================================================== */
.copyright{
	background: #171819;
}

.copyright__container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 22px 0px;
}
.copyright_text {
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.846154px;		
	color: #FFFFFF;
}

/* =======BURGER MENU =============================================== */
.burger-menu {
	display: none;
}


@media (max-width: 767px){
	.burger-menu{
		position: relative;
		display: block;
		right: 0px;
	}
	.burger-menu img{
		width: 40px;
		height: 40px;
	}
	.burger_list {
		position: absolute;
		top: 50px;
		right: -1000px;
		width: 100vw;
		height: 100vh;
		background: #F2F2F2;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all ease 0.2s;

	}
	.burger_list.open{
		right: -30px;
	}
	.burger-menu img.open{
		background: #fff;
		border-radius: 25px;
	}
	.list-burger_item {
		margin-bottom: 20px;
		font-size: 30px;
		font-weight: 700;
		color: #48555B;
		text-shadow: 0px 1px 1px #000;	
	}
}